{extend name="public@base:base" /}

{block name="main-content"}
	<div id="page-wrapper">
		<!--<div id="page-header" class="header">-->
            <!--<h1 class="page-header">-->
            <!--</h1>-->
		<!--</div>-->
			<iframe src="" frameborder="none" scrolling="auto" style="width: 100%; height: 100%"></iframe>
	</div>

{/block}
{block name="javascript"}
	<script>
		var tab = $("a[page_tab]");
		$.each(tab,function(k,v){
			$(v).click(function(){
				var jump_url =  $(v).attr('page_tab');
				$("iframe").attr('src',jump_url);
			});
		});
		var page_height = $("#page-wrapper").outerHeight();
		var head_height = $("#page-header").height();
		$("iframe").height(page_height-head_height);
	</script>
{/block}