<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Target Material Design Bootstrap Admin Template</title> 
	<link href="__PUBLIC__/css/material+Icons.css" rel="stylesheet">
	<link rel="stylesheet" href="__PUBLIC__/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="__PUBLIC__/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="__PUBLIC__/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="__PUBLIC__/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='__PUBLIC__/css/googleapis-open+sans.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="__PUBLIC__/js/Lightweight-Chart/cssCharts.css">

    <script src="__PUBLIC__/js/jquery-1.10.2.js"></script>
	<!-- Bootstrap Js -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/materialize/js/materialize.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="__PUBLIC__/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="__PUBLIC__/js/morris/raphael-2.1.0.min.js"></script>
    <!--<script src="__PUBLIC__/js/morris/morris.js"></script>-->
	<script src="__PUBLIC__/js/easypiechart.js"></script>
	<script src="__PUBLIC__/js/easypiechart-data.js"></script>
    <script src="__PUBLIC__/js/Lightweight-Chart/jquery.chart.js"></script>
    <!-- datatables -->
    <script src="__PUBLIC__/datatables/jquery.dataTables.min.js"></script>
    <!--<link href='__PUBLIC__/datatables/datatables.min.css' rel='stylesheet' type='text/css' />-->
    <script src="__PUBLIC__/datatables/dataTables.bootstrap.js"></script>.
    <link href='__PUBLIC__/datatables/dataTables.bootstrap.css' rel='stylesheet' type='text/css' />
    <!-- Custom Js -->
    <script src="__PUBLIC__/js/custom-scripts.js"></script>
    <script src="/common/load.js"></script>
    <!--layer js-->
    <script src="__PUBLIC__/layer/layer.js"></script>
</head>