{extend name="public@iframe:base" /}

{block name="main-content"}
<div class="card">
    <div class="card-action">
        电话账单名录
        <div style="display: inline-block;float: right">
            <button id="add" class="btn btn-primary" >添加</button>
            <button id="edit" class="btn btn-warning">编辑</button>
            <button id="del" class="btn btn-danger">删除</button>
        </div>
    </div>
    <div class="card-content">
        <div class="table-responsive">
            <table id="dt" class="table table-striped table-bordered dataTable no-footer">
            </table>
        </div>

    </div>
</div>
{/block}
{block name="javascript"}
<script>
    $(function(){
        addTable();
        $("#add").click(function(){
            //iframe层-父子操作
            layer.open({
                type: 2,
                area: ['1000px', '800px'],
                fixed: false, //不固定
                maxmin: true,
                content: 'add_phone',
                btn: ['确认', '取消'],
                yes: function(index, layero){
                    var form = $(layero).find("iframe")[0].contentWindow.document.getElementById("add-form");
                    var user_name = $(form).find("#user_name").val();
                    var telephone = $(form).find("#telephone").val();
                    var depart = $(form).find("#depart").val();
                    var service = $(form).find('#service').val();
                    if(!telephone || !depart || !service){
                        layer.msg('电话或部门或服务商必填！');
                    }else{
                        var params = {'user_name':user_name,'telephone':telephone,'depart':depart,'service':service};
                        loadPOST('add_action',params,function(res){
                            if(res){
                                layer.close(index); //如果设定了yes回调，需进行手工关闭
                                layer.msg('添加成功',{icon: 1});
                                table.draw();
                            }else{
                                layer.msg('系统错误添加失败！');
                            }
                        });
                    }
                }
            });
        });
        $("#edit").click(function(){
            var check = $("input[type=checkbox]:checked");
            if(check.length==1){
                //iframe层-父子操作
                layer.open({
                    type: 2,
                    area: ['1000px', '800px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: 'edit_phone.html?id='+check.val(),
                    btn: ['确认', '取消'],
                    yes: function(index, layero){
                        var form = $(layero).find("iframe")[0].contentWindow.document.getElementById("edit-form");
                        var id = $(form).find("#id").val();
                        var user_name = $(form).find("#user_name").val();
                        var telephone = $(form).find("#telephone").val();
                        var depart = $(form).find("#depart").val();
                        var service = $(form).find("#service").val();
                        if(!telephone || !depart || !service){
                            layer.msg('电话或部门必填！');
                        }else{
                            var params = {'id':id,'user_name':user_name,'telephone':telephone,'depart':depart,'service':service};
                            loadPOST('edit_action',params,function(res){
                                if(res){
                                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                                    layer.msg('编辑成功',{icon: 1});
                                    table.draw();
                                }else{
                                    layer.msg('系统错误编辑失败！');
                                }
                            });
                        }
                    }
                });
            }else{
                layer.msg('请选择一条数据！');
            }
        });
        $("#del").click(function(){
            var check = $("input[type=checkbox]:checked");
            if(check.length>0){
                layer.confirm('确定要删除吗？', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                    var id = check.val();
                    var params = {'id':id};
                    loadPOST('del_action',params,function(res){
                        if(res){
                            layer.msg('删除成功',{icon: 1});
                            table.draw();
                        }else{
                            layer.msg('系统错误添加失败！');
                        }
                    });
                });
            }else{
                layer.msg('请选择数据！');
            }

        });
    });

    //添加表格
    function addTable(){
        table = $('#dt').DataTable({
            "serverSide": true,
            "autoWidth": false,
            "searching": false,
            columns: [
                {
                    data: null,
                    title: ""
                },
                { "data": "id",  "title":"ID"},
                { "data": "number", "title":"电话"},
                { "data": "username", "title":"用户"},
                { "data": "service", "title":"服务商"},
                { "data": "department", "title":"部门", "defaultContent":""}

            ],
            columnDefs: [{
                //   指定第一列，从0开始，0表示第一列，1表示第二列……
                targets: 0,
                render: function(data, type, row, meta) {
                    return '<input type="checkbox" id="test'+row.id+'"  value="'+row.id+'"/><label for="test'+row.id+'"></label>';
                }
            }],
            language: {
                "lengthMenu": "每页 _MENU_ 条记录",
                "zeroRecords": "没有找到记录",
                "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
                "infoEmpty": "无记录",
                "infoFiltered": "(共 _MAX_ 条记录)",
                "search": "搜索",
                "paginate": {
                    "first": "首页",
                    "previous": "上页",
                    "next": "下页",
                    "last": "末页"
                }
            },
            "fnServerData": function ( sSource, data, fnCallback, oSettings ) {
                //封装请求参数
                var param = {};
                $.each(data,function(k,v){
                    if(k=='draw'){
                        param.draw = v;
                    }
                    if(k=='order'){
                        param.sort = {'name':data.columns[v[0].column].data, 'dir':v[0].dir};
                    }
                    if(k=='start'){
                        param.start = v;
                    }
                    if(k=='length'){
                        param.limit = v;
                    }

                });

                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "GET",
                    "url": '{:url("search_phone")}',
                    "data": param,
                    "success": function (result) {
                        //返回数据预处理
                        $.each(result.auth_group,function(k,v){
                            v = dealData(v);
                        });
                        //封装返回数据
                        var returnData = {};
                        returnData.draw = result.draw;
                        returnData.recordsTotal = result.count;
                        returnData.recordsFiltered = result.count;
                        returnData.data = result.auth_group;
                        fnCallback(returnData);
                        layer.closeAll('loading');
                    }
                });
            },
            "drawCallback": function( settings ) {
               layer.load();
            }
        });
    }

    //数据预处理
    function dealData(v) {
        return v;
    }
</script>
{/block}

